{#
This file is Customised
#}
<script type="text/javascript">
    $(function(){
        $(".questionnairelist").each(function(){
            var listLenght = $(this).find("dl").length;
            if(listLenght>5){
                $(this).find("dl:gt(4)").each(function(){$(this).hide();});
                $(this).append('<p class="questionnaire_more"><a id="questionnaire_readmore">» もっと見る</a></p>');
                var dispNum = 5;
                $(this).find("#questionnaire_readmore").click(function(){
                    dispNum +=5;
                    $(this).parents(".questionnairelist").find("dl:lt("+dispNum+")").show(400);
                    if (dispNum>=listLenght) {
                        $(this).hide();
                    }
                })
            }
        });
    });
</script>
<div id="questionnaire_area" class="row">
    <div class="category_header col-xs-12">
        <h2 class="heading01">アンケート</h2>
    </div>
    <div class="accordion col-xs-12">
        <div class="questionnairelist">
            {% for Questionnaire in QuestionnaireList %}
                <dl>
                    <dt>
                        <span class="date">
                            {{ Questionnaire.date|date("Y/m/d") }}
                        </span>
                        <span class="news_title">
                            {{ Questionnaire.title }}
                        </span>
                        {% if Questionnaire.comment or Questionnaire.url %}
                            <span class="angle-circle">
                                <svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg>
                            </span>
                        {% endif %}
                    </dt>
                    {% if Questionnaire.comment or Questionnaire.url %}
                        <dd>{{ Questionnaire.comment|raw|nl2br}}
                            {% if Questionnaire.url %}<br>
                                <a href="{{ Questionnaire.url }}" {% if Questionnaire.link_method == '1' %}target="_blank"{% endif %}>
                                    詳しくはこちら
                                </a>
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>
            {% endfor %}
        </div><!--/questionnairelist-->
    </div><!--/accordion-->
</div><!--/questionnaire_area-->
