{# default_frame.twigを継承して共通のヘッダー、フッターを表示するにはdtb_page_layout に登録が必要 #}
{% extends 'default_frame.twig' %}
{% set body_class = 'affiliate_page' %}

{% block main %}

 {% include 'Mypage/navi.twig' %}

<h2>アフリィエイトリンク</h2>
<p>{{ banner_link }}</p>

    <div class="row">
        <div class="col-md-12">
               <div id="history_box" class="box accordion">
                <div id="history_box__toggle" class="box-header toggle">
                    <h3 class="box-title">広告リンク</h3>
                   <p>タグをコピーして、ご自分のホームページやSNSなどに貼り付けます。</p> 
               </div><!-- /.box-header -->
                <div id="history_box__body" class="box-body accpanel">
                     <div id="history_box__list" class="table_list">
                        <div class="table-responsive with-border">
                            <table class="table table-striped">
                                <thead>
                                    <tr id="history_box__list_header">
                                        <th id="history_box__header_order_date">広告イメージ</th>
                                        <th id="history_box__header_order_id">タグ</th>
                                    </tr>
                                </thead>
                                <tbody>

  			{% for banner in banners %}
                                      <tr >
                                        <td  class="member_id" >
                                        <img src="{{ banner.image }}" />
                                        </td>
                                        <td  class="member_name" >
                                        <textarea  rows="6" cols="36" style="color:#000;font-size:80%;">{{ banner.tag }}</textarea>  
                                         </td>
                                      </tr>
                                   {% endfor %}

                             </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
            </div>

        </div>
    </div>
<br・/>
<br />
<br />


    <div class="row">
        <div class="col-md-12">
               <div id="history_box" class="box accordion">
                <div id="history_box__toggle" class="box-header toggle">
                    <h3 class="box-title">紹介文(広告バナーをタップ(クリック)した場合に表示されます。)</h3>
　　　　　　　　　　 <hr>
               </div>

        </div>
    </div>

{% endblock %}